html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Até Iphone 8Plus */
.container {
  max-width: 414px;
  margin: 0 auto;
  width: 100%;
}

.menu {
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


/* Até Ipad Pro  */
@media screen and (min-width: 415px) and (max-width: 1024px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
    width: 100%;
  }
  .menu {
    background-color: blue;
    display: flex;
    justify-content: center space-between;
    align-items: center;
  
  }

  .titulo {
    font-size: 40px;
    padding: 10px;
  }

  .menu-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: baseline; */
    /* padding: 10px; */
    /* background-color: blueviolet; */
  }
  .li {
  /* border: solid 2px red; */
  width: 70px;
  }
}
