/* * {
  box-sizing: border-box;
} */

#grid {
  display: flex;
  align-items: center;
  width: 95%;
  height: 350px;
  border: 5px dashed red;
  background-color: green;
  margin-bottom: 10px;
  padding: 5px;
  justify-content: space-between;
}

#exercise-1 {
  animation-name: exercise-1-2-3-4;
  animation-duration: 3s;
  animation-delay: 1s;
}
#exercise-2 {
  animation-name: exercise-1-2-3-4;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}
#exercise-3 {
  animation-name: exercise-1-2-3-4;
  animation-duration: 1s;
  animation-delay: 1s;
  animation-iteration-count: 2;
  animation-direction: alternate;
}
#exercise-4:hover {
  animation-name: exercise-1-2-3-4;
  animation-duration: 5s;
}
#section-5:hover > #exercise-5 {
  animation-duration: 5s;
  animation-name: exercise-1-2-3-4;
}

@keyframes exercise-1-2-3-4 {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 97%;
  }
}

/* Not working */
#exercise-6-square:hover + #exercise-6 {
  animation-duration: 5s;
  animation-name: exercise-6;
}
@keyframes exercise-6 {
  from {
    margin-left: 97px;
  }
  to {
    margin-left: 0%;
  }
}
#exercise-7 {
  animation-duration: 10s;
  animation-name: exercise-7;
  animation-iteration-count: infinite;
}
@keyframes exercise-7 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
#exercise-8 {
  animation-duration: 4s;
  animation-name: exercise-8;
}
@keyframes exercise-8 {
  0% {
    background-color: red;
  }
  100% {
    background-color: yellow;
  }
}
#exercise-9 {
  animation-duration: 4s;
  animation-name: exercise-9;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes exercise-9 {
  0% {
    background-color: red;
  }
  33% {
    background-color: yellow;
  }
  66% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
#exercise-10 {
  animation-duration: 4s;
  animation-name: exercise-10;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes exercise-10 {
  0% {
    background-color: red;
    transform: scale(1);
  }
  33% {
    background-color: yellow;
    transform: scale(2);
  }
  66% {
    background-color: blue;
    transform: scale(2);
  }
  100% {
    background-color: green;
    transform: scale(1);
  }
}
#exercise-11_1 {
  animation: exercise-11 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#exercise-11_2 {
  animation: exercise-11 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
#exercise-11_3 {
  animation: exercise-11 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

#exercise-11_4 {
  animation: exercise-11 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#exercise-11_5 {
  animation: exercise-11 3s;
  animation-delay: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes exercise-11 {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 96%;
  }
}
#exercise-12 {
  opacity: 1;
}
#exercise-12:active {
  animation: exercise-12 1s forwards;
}

@keyframes exercise-12 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
